#box{
background:#1e77c0;
background-image: linear-gradient(to right,#bbe79e,#1e77c0);
background-image: -webkit-linear-gradient(to  right,#bbe79e,#1e77c0);
}
#content{
/* display: block; */
border: 2px solid rgb(117, 112, 112);
width: 220px;
height: 160px;
position: relative;
border-radius: 20px;
margin:auto;
top: 300px;
}
h2{
color: rgb(95, 92, 92);
position:relative;
line-height: 25px;
text-align: center;

}
form{
margin: 5px;
color:rgb(95, 92, 92) ;
}
.b{
    /* color: rgb(95, 92, 92);  */
  display: inline-block;
  margin: 10px;
}
#load{
    color: rgb(95, 92, 92);
position: relative;
left: 15px;
}
/* #creat{
color: rgb(95, 92, 92);
position:relative;
left: 60px;
} */
a{
text-decoration:none;
position: relative;
left: 60px;
font-size: 12px;
color: rgb(92, 89, 89);
}

